.navbar {
  display: flex;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-left {
  display: flex;
  width: 30%;
}

.nav-right {
  display: flex;
  width: 70%;
  align-items: center;
}

.nav-right ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.nav-right ul li {
  list-style: none;
}

.navbar div svg {
  cursor: pointer;
  display: none;
  margin-top: 30px;
}

@media screen and (max-width: 648px) {
  .navbar div svg {
    display: inline;
  }

  .navbar-content {
    flex-direction: column;
  }

  .nav-left,
  .nav-right {
    width: 100%;
    text-align: start;
  }

  .nav-right ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}